@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 14.29% 95.88%;

    --foreground: 220.91 39.29% 10.98%;
    --foreground-light: 216.92 19.12% 26.67%;
    --foreground-lighter: 220 8.94% 46.08%;

    --card: 0 0% 100%;
    --card-hover: 210 40% 98.04%;
    --card-alternative: 210 20% 98.04%;
  }
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply bg-background text-foreground flex-col;
}

/* table td:nth-child(n+2):nth-child(-n+3) { */
/*   @apply text-foreground-lighter; */
/* } */
/**/
/**/
/* table td:nth-child(1), table td:nth-last-child(1) { */
/*   @apply font-medium; */
/* } */

table td:nth-child(1),
table td:nth-child(3),
table td:nth-last-child(1) {
  @apply text-foreground-lighter font-medium;
}
